@import '../../styles/variables';

.container {
  padding: 0 0 2rem 0;
  h2 {
    font-weight: 900;
    font-size: clamp(1.8rem, 5vw, 4rem);
    color: $lighter;

    .name {
      color: $white;
      word-break: normal;
    }

    span {
      word-break: break-all;
    }
    margin-bottom: 1rem;
  }

  p {
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    font-weight: 400;
    color: $lighter;
  }
}
