@import '../../styles/variables';

.container {
  padding: 2rem 0;
  h2 {
    font-weight: 900;
    font-size: clamp(40px, 8vw, 80px);
    color: $light;

    span {
      color: $lighter;
    }
  }

  p {
    font-size: 1.5rem;
    font-weight: 400;
    color: $light;
    // margin: 1rem 0;
  }
}
