$primary: #1f2326;
$secondary: #3b3f40;
$accent: #565956;
$dark: black;
$white: white;
$light: #72736f;
$lighter: #a4a69c;

$custom: 991px;
$super-mini: 320px;
$mini: 480px;
$medium: 640px;
$tablet: 768px;
$mid-large: 978px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1540px;

@mixin mid-large {
  @media (min-width: #{$mid-large}) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width: #{$xlarge}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin super-mini {
  @media (min-width: #{$super-mini}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin max-medium {
  @media (max-width: #{$medium}) {
    @content;
  }
}
