$primary: #1f2326;
$secondary: #3b3f40;
$accent: #565956;
$dark: black;
$white: white;
$light: #72736f;
$lighter: #a4a69c;

$custom: 991px;
$super-mini: 320px;
$mini: 480px;
$medium: 640px;
$tablet: 768px;
$mid-large: 978px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1540px;

@mixin mid-large {
  @media (min-width: #{$mid-large}) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width: #{$xlarge}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin super-mini {
  @media (min-width: #{$super-mini}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin max-medium {
  @media (max-width: #{$medium}) {
    @content;
  }
}

$golden-ratio: 1.618;

@mixin header {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.5rem, 3.5vw, 2rem);
  line-height: clamp(2rem, 2.5vw, 3rem);
  @content;
}

@mixin sub-header {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(0.8rem, 2.5vw, 1.275rem);
  line-height: clamp(0.9rem * $golden-ratio, 2.5vw * $golden-ratio, 1.525rem * $golden-ratio);
  @content;
}

@mixin app-paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  line-height: clamp(0.75rem * $golden-ratio, 2.5vw * $golden-ratio, 1.125rem * $golden-ratio);
  color: $light;
  @content;
}

@mixin app-footer {
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  line-height: clamp(0.75rem * $golden-ratio, 2.5vw * $golden-ratio, 1.125rem * $golden-ratio);
  color: $lighter;
  @content;
}
