@import './variables';

.container {
  @include medium {
    grid-template-areas: 'aside main';
    grid-template-columns: 1fr 3fr;
  }
  @include mid-large {
    grid-template-columns: 1fr 3fr;
  }
  @include xlarge {
    grid-template-columns: 1fr 4fr;
  }
  @include max-medium {
    grid-template-rows: 60px 1fr;
  }

  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  aside,
  main,
  footer {
    color: $lighter;
  }

  aside {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    @include medium {
      grid-area: aside;
      height: 100vh;
    }
  }

  main::-webkit-scrollbar {
    display: none;
  }

  main {
    @include medium {
      grid-area: main;
    }
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .contact {
      padding: 3rem 2rem;
      @include mid-large {
        padding: 10rem 2rem;
      }
    }

    .hero {
      margin: 0 auto !important;

      padding: 6rem 2rem;

      @include tablet {
        height: 100vh;
        padding: 12rem 2rem;
      }
    }

    section {
      max-width: 1200px;
      .header {
        @include header {
          color: $lighter;
        }
      }
      @include medium {
        width: 100%;
      }
      @include mid-large {
        width: 90%;
      }
      @include xlarge {
        width: 70%;
      }

      width: 95%;

      margin: 10rem auto;
      padding: 0 2rem;
    }

    .footer {
      background: rgba($secondary, 0.2);
      backdrop-filter: blur(30px);
      text-align: center;
      padding: 0.5rem 0;
    }
  }
}
