@import '../../styles/variables';

.container {
  margin: 2.5rem 0;
  display: grid;

  grid-template-columns: 1fr;

  @include mid-large {
    grid-template-columns: 2fr 1fr;
  }
  gap: 2rem;

  .bio {
    @include app-paragraph {
      width: 100%;
      word-break: break-all;

      h3 {
        margin-bottom: 1rem;
      }
    }
  }
  .imageContainer {
    justify-self: flex-end;
    width: 100%;
    .image {
      width: 100%;
      object-fit: cover;
      @include mid-large {
        border-radius: 50%;
      }
    }
  }
}
